 

<div class="row" style="margin:25px 0px 0px 0px; ">
  <button type="button" class="btn btn-secondary btn-lg" routerLink="/product-add"   style="margin-left: 1490px;margin-bottom:20px;">Large button</button>
  <!-- <button class="btn btn-primary" routerLink="/product-add"  style="margin-left: 1495px;margin-bottom:20px;">Thêm Sản Phẩm</button> -->
  <table class="table table-striped"  style="margin-left:50px;margin-right:50px;" > 
    <thead class="thead-dark" >
    <tr >
      <th scope="col">Images</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Status</th>
      <th scope="col">Desc</th>
      <th scope="col">Delete</th>
      <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <td><img  src="{{product.image}}" width="400" height="236" alt=""></td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.fueltype ? 'In stock': 'petrol'}}</td>
      <td width="600" height="236">{{product.desc}}</td>
      <td><button type="button" class="btn btn-secondary btn-lg" (click)="removeProduct(product.id)">Delete</button></td>
       <td><button type="button" class="btn btn-secondary btn-lg" routerLink="/product/edit/{{product.id}}">Edit</button></td>
     
      
      <!-- <td><button class="btn btn-primary" (click)="removeProduct(product.id)">Delete</button></td>
      <td><button class="btn btn-primary" routerLink="/product/edit/{{product.id}}" >edit</button></td> -->
    </tr>
    </tbody>
  </table>
</div>


 
 
 