<div class="container">
	<div style="padding-top: 40px;margin-bottom: 40px;">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Sản Phẩm</li>
			</ol>
		</nav>
	</div>
  <div class="row" style="margin-top: 100px;">

	<div ngClass="col-lg-4 col-md-6 mb-4" *ngFor="let product of products">
		<div class="card h-100" routerLink="/product/{{product.id}}">
			<a ><img class="card-img-top" [src]="product.image" alt=""></a>
				<div class="card-body">
					<h4 class="card-title">
						<a href="#">{{product.name}}</a>
					</h4>
					<h5>${{product.price}}</h5>
					<p class="card-text">{{product.desc}}</p>
					<p class="card-text">{{product.fueltype ? 'xăng': 'petrol'}}</p>
				</div>
				
		</div>
	</div>
</div>
</div>


